* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

body {
	font-family: 'Montserrat', sans-serif;
}

#opening {
	background-color: #002540;
}

nav {
	padding: 1rem;
	margin-bottom: 4 rem;
	border-bottom: 1px solid gray;
}

nav li {
	list-style-type: none;

}


nav .nav, .nav-logo {
	color: white;
	display: inline;
	margin: 4rem;

}


li img {
    height: 15vh;
    width: 15vh;
    border-radius: 100px;
}


#intro {
	background-image: url(https://scontent.fmnl4-5.fna.fbcdn.net/v/t1.6435-9/128217293_1392204667792727_5323652070624535344_n.jpg?_nc_cat=106&ccb=1-6&_nc_sid=730e14&_nc_eui2=AeFjFw4s8sAcCo-5jDxMJsIBBgkj0Ear1UYGCSPQRqvVRoz5oKTKkaV4Ocvx6EXeeJK98eA7z55IQcYxqv05M3Jd&_nc_ohc=3nLiz9YuCk8AX_RdsTK&_nc_ht=scontent.fmnl4-5.fna&oh=00_AT_g9OBFw-J_CMOVUHqZs2RH14CSEQTYSN66Q5mOgd-K6Q&oe=629B76F3);
	background-size: 100rem;
	background-repeat: no-repeat;
	background-position: center;
	justify-content: center;
	color: white;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

.header {
	text-align: center;
	margin: 1rem;
	font-size: 40px;
}

section h1 {
	margin-bottom: 2rem;
	font-size: 70px;
}


#sh button  {
	color: white;
	background-color: lightseagreen;
	padding: 1rem;
	border-radius: 25px;
	margin-top: 1rem;
	font-weight: bold;
}


#pre-footer div {
	margin: 2rem;
	display: inline;
	display: table-cell;
	width: 17%;
	color: white;
	vertical-align: top;
}

#pre-footer {
	background-color: #002540;
	padding: 3rem 10% 3rem;
	padding-left: 25%;
	align-content: center;

}

a {
	text-decoration: none;
	color: white;
}

span {
	margin: 1rem;
}

#form {
	margin: 1rem;
	padding: 2rem 10% 3rem;
	background-color: lightblue;
}

#pcf {
	text-align: center;
}

#form h2 {
	text-align: left;
}

#info {
	display: inline;
}

#bapt {
	text-align: left;
}

#note	{
	text-align: center;
	padding: 1rem;
}

textarea {
	padding: 2rem
}

#mentor {
	text-align: left;
	padding: 1rem;
}

body h1 {
	margin: 1rem;
	padding: 2rem;
}

